$lose-delay: 18s;
$duck-delay: 2s;
// Duck positioning variables
$y-start: 70%;
$y-index-change: 65%;
$y-middle: 40%;
$y-end: -10%;

$x-middle: 50%;
$x-left-edge: 0;
$x-left-index-change: 40%;
$x-right-edge: 95%;
$x-right-index-change: 60%;
$x-zigzag-reflect: 30%;


a {
    transition: transform;
    transition-duration: 200ms;
}
a:hover {
    transform: scale(1.1);
}
a:active {
    transform: scale(0.9);
}

.end-screen--lose {
    animation: lose-screen 500ms linear $lose-delay forwards;
}

input {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: $duck-delay;
    animation-fill-mode: forwards;
}
input:nth-of-type(odd) {
    animation-name: duck-anim-left;
}
input:nth-of-type(even) {
    animation-name: duck-anim-right;
    animation-delay: $duck-delay + 1;
}
input:nth-of-type(3n) {
    animation-name: duck-anim-middle;
    animation-delay: $duck-delay +2;
    animation-duration: 4s;
}
input:nth-of-type(3) {
    animation-delay: $duck-delay + 3;
}
input:nth-of-type(4) {
    animation-delay: $duck-delay + 4;
}
input:nth-of-type(5) {
    animation-delay: $duck-delay + 7;
}
input:nth-of-type(6) {
    animation-delay: $duck-delay + 9;
}
input:nth-of-type(7) {
    animation-delay: $duck-delay + 4;
}
input:nth-of-type(8) {
    animation-delay: $duck-delay + 2;
}
input:nth-of-type(9) {
    animation-delay: $duck-delay + 1;
}
input:last-of-type {
    animation-delay: $duck-delay + 8;
}

input:checked {
    animation-play-state: paused;
}

@keyframes win-screen {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}
@keyframes lose-screen {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes duck-anim-left {
    0% {
        top: $y-start;
        left: $x-middle;
        z-index: -2;
    }
    5% {
        top: $y-index-change;
        left: $x-left-index-change;
        z-index: 0;
    }
    45% {
        top: $y-middle;
        left: $x-left-edge;
        z-index: 0;
        transform: scaleX(1);
    }
    46% {
        top: $y-middle;
        left: $x-left-edge;
        z-index: 0;
        transform: scaleX(-1);
    }
    100% {
        top: $y-end;
        left: $x-middle;
        z-index: 0;
        transform: scaleX(-1);
    }
}
@keyframes duck-anim-middle {
    0% {
        top: $y-start;
        left: $x-middle;
        z-index: -2;
    }
    5% {
        top: $y-index-change;
        left: $x-left-index-change;
        z-index: 0;
    }
    30% {
        top: $y-middle;
        left: $x-zigzag-reflect;
        z-index: 0;
        transform: scaleX(1);
    }
    31% {
        top: $y-middle;
        left: $x-zigzag-reflect - 1;
        z-index: 0;
        transform: scaleX(-1);
    }
    60% {
        top: $y-middle;
        left: $x-right-index-change;
        z-index: 0;
        transform: scaleX(-1);
    }
    61% {
        top: $y-middle;
        left: $x-right-index-change;
        z-index: 0;
        transform: scaleX(1);
    }
    100% {
        top: $y-end;
        left: $x-middle;
        z-index: 0;
        transform: scaleX(1);
    }
}
@keyframes duck-anim-right {
    0% {
        top: $y-start;
        left: $x-middle;
        z-index: -2;
        transform: scaleX(-1);
    }
    5% {
        top: $y-index-change;
        left: $x-left-index-change;
        z-index: 0;
        transform: scaleX(-1);
    }
    45% {
        top: $y-middle;
        left: $x-right-edge;
        z-index: 0;
        transform: scaleX(-1);
    }
    46% {
        top: $y-middle;
        left: $x-right-edge;
        z-index: 0;
        transform: scaleX(1);
    }
    100% {
        top: $y-end;
        left: $x-middle;
        z-index: 0;
        transform: scaleX(1);
    }
}