// Variables for color scheme
$grass: rgb(40, 109, 40);
$sky: rgb(195, 228, 249);
// Style each element's color

.foreground__grass {
    background-color: $grass;
}

body {
    background-color: $sky;
}