// Variables for color scheme
$grass: rgb(40, 109, 40);
$sky: rgb(147, 208, 248);
// Style each element's color

.foreground__grass {
    background-color: $grass;
}

body {
    background-color: $sky;
}