// Variables for color scheme
$grass: #77b55a;
$sky: #44a8f5;
$gravel: #8e7100;
$tree-trunk: #4a1700;
$black: #000;
$white: white;
$end-screen: #777;

// Style each element's color

body {
  background-color: $sky;
}

.ui__score p, a {
  background-color: $white;
}

.cls-1 {
  fill: $tree-trunk;
  stroke-width: 5.73px;
}

.cls-2 {
  stroke-width: 4.09px;
}

.cls-1,
.cls-2 {
  stroke: $black;
  stroke-miterlimit: 10;
}

.cls-3 {
  fill: $gravel;
}

.cls-5,
.cls-2 {
  fill: $grass;
}
.end-screen--win, .end-screen--lose {
  background-color: $end-screen;
}

a {
  color: $black;
}