$lose-delay: 25s;

body, *:hover {
    cursor: crosshair;
}
input {
    appearance: none;
    font-size: 1.5rem;
}
input::after {
    content: "🦆";
}
input:checked::after {
    content: "🍗";
}

.end-screen--win, .end-screen--lose {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine; /* Change to a color that isn't terrible */
    /* Put text in the middle :) */

    /* May Bee move these to layout partial 🧐 */
    position: absolute;
    top: 100vh;
    z-index: 100;
    /* Also add overflow hidden to layout(?) I guess? */
}
.end-screen--lose {
    top: 0;
    z-index: -1;
    opacity: 0;
    // animation: lose-screen 1s linear $lose-delay forwards;
}
@keyframes lose-screen {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 11;
    }
}