body, *:hover {
    cursor: crosshair;
}
input {
    appearance: none;
    font-size: 1.5rem;
}
input::after {
    content: "🦆";
}
input:checked::after {
    content: "🍗";
}

.end-screen--win, .end-screen--lose {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine; /* Change to a color that isn't terrible */
    /* Put text in the middle :) */
}
.end-screen--lose {
    top: 0;
    z-index: -1;
    opacity: 0;
}
