// Add custom font (?)
@font-face {
    font-family: pixel;
    src: url(./fonts/VT323-Regular.ttf);
}
// Style end-screen elements with correct font(s)
p, a {
    font-family: pixelated, pixel;
}
.end-screen--win p, .end-screen--lose p {
    font-size: 4rem;
}
a {
    font-size: 2rem;
}