* {
  margin: 0;
}
body {
  overflow: hidden;
}

svg {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.ui__score, .start-game {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: -1;
  top: 5vh;
}

.ui__score p, .start-game a {
  display: inline-block;
  position: fixed;
  padding: .6em 1.2em;
}

input {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: -2;
}

.end-screen--win, .end-screen--lose {
  position: absolute;
  top: 100vh;
  z-index: 5;
}
.end-screen--win {
  z-index: 6;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.7em 1em;
}