input:checked {
    counter-increment: checked;
}
.ui__score::after {
    content: counter(checked);
}

input:checked {
    pointer-events: none;
}

input:checked + input:checked + input:checked + input:checked + input:checked + input:checked + input:checked + input:checked + input:checked + input:checked ~ .end-screen--win {
    animation: win-screen 350ms ease-in-out forwards;
}